# dotenv environment variables file
# Never should be committed in and keep it private
.env

# Docker database
db_data/

# NPM / Node.js
node_modules

# Wordpress files that should not be committed in
wordpress/*

!wordpress/wp-content
wordpress/wp-content/index.php

!wordpress/wp-content/plugins
wordpress/wp-content/plugins/akismet
wordpress/wp-content/plugins/hello.php
wordpress/wp-content/plugins/index.php

!wordpress/wp-content/themes
wordpress/wp-content/themes/index.php
wordpress/wp-content/themes/twentyfifteen
wordpress/wp-content/themes/twentyseventeen
wordpress/wp-content/themes/twentysixteen
